.gestor-blog-container {
  padding: 20px;
}

.gestor-blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.gestor-blog-search {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gestor-blog-newpost {
  padding: 8px 16px;
  background-color:var(--color-3);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gestor-blog-list {
  border: 1px solid #ccc;
  padding: 10px;
}

.gestor-blog-card {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-column-gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.gestor-blog-card:first-child {
  border-top: 1px solid #ccc;
}

.gestor-blog-card:hover {
  background-color: #f0f0f0;
}

.gestor-blog-checkbox {
  justify-self: center;
}

.gestor-blog-status {
  justify-self: start;
}

.gestor-blog-title {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.gestor-blog-date {
  grid-column: 4;
  justify-self: start;
}

.gestor-blog-delete-column {
  display: flex;
  justify-content: flex-end;
}

.gestor-blog-delete-label {
  justify-self: end;
}

.gestor-blog-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-6);
}

.gestor-blog-selected-info {
  grid-column: span 4;
  display:flex;
  align-items: center;
  margin-top: 10px;
}

.gestor-blog-selected-info-span {
  margin-right: 10px;
}

.gestor-blog-selected-info-button {
  background-color: white;
  color: var(--color-6);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.gestor-blog-loadmore {
  margin-top: 20px;
  color: black;
  border: none;
  background-color: white;
  cursor: pointer;
}

.gestor-blog-header-card {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-column-gap: 10px;
  font-weight: bold;
}

.gestor-blog-selected-info-active .gestor-blog-select-label,
.gestor-blog-selected-info-active .gestor-blog-status-label,
.gestor-blog-selected-info-active .gestor-blog-title-label,
.gestor-blog-selected-info-active .gestor-blog-date-label,
.gestor-blog-selected-info-active .gestor-blog-delete-label {
  display: none;
}

.delete-svg-list {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}


.div-modal-buttons-delete {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.button-modal-delete-yes {
  background-color: #FF6347;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.button-modal-delete-yes:hover {
  background-color: #FF4500;
}

.button-modal-delete-no {
  background-color: white;
  color: #808080;
  border: 1px solid #808080;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.button-modal-delete-no:hover {
  color: white;
  background-color: #808080;
}

/* Media queries para dispositivos menores */
@media screen and (max-width: 500px) {
.gestor-blog-container {
    padding: 0px;
  }

  .gestor-blog-header {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .gestor-blog-search {
    width: 95%;
  }

  .gestor-blog-newpost {
    width: 50%;
    padding: 8px 0px;
    background-color: #4B637A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .gestor-blog-select-label,
  .gestor-blog-status-label,
  .gestor-blog-title-label,
  .gestor-blog-date-label,
  .gestor-blog-delete-label {
    display: none;
  }

  .gestor-blog-card {
    width: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    height: 80px;
    border: var(--color-3) 1px solid;
    margin-bottom: 5px;
  }

  .gestor-blog-card-title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    height: auto;
    min-height: 80px;
  }

  .gestor-blog-card .gestor-blog-checkbox {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
  }

  .gestor-blog-card .gestor-blog-title {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }

  .gestor-blog-card .gestor-blog-status {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    color: var(--color-3);
    font-size: 0.8em;
  }

  .gestor-blog-card .gestor-blog-date {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    font-size: 0.8em;
  }

  .gestor-blog-card .gestor-blog-delete-column {
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
  }

  .gestor-blog-list {
    border: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gestor-blog-card:first-child {
    height: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .gestor-blog-create-button {
    width: 50%;
  }

  .gestor-blog-selected-info {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
  }
  
  .gestor-blog-selected-info-span {
    margin-right: 0px;
    font-size: small;
  }
  
  .gestor-blog-selected-info-button {
    font-weight: 600;
  }
  
}


@media screen and (max-width: 350px) {
  
    .gestor-blog-card .gestor-blog-checkbox {
      justify-self: start;
    }
  
    .gestor-blog-card .gestor-blog-title {
      justify-self: start;
      margin-left: -40px;
    }
  
    .gestor-blog-card .gestor-blog-status {
      justify-self: start;
    }
  
    .gestor-blog-card .gestor-blog-date {
      justify-self: start;
      margin-left: 15px;
    }
  
    .gestor-blog-card .gestor-blog-delete-column {
      justify-self: end;
    }
  }
  