.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  height: 60vh;
  color: #4D4D4D;
}

.login-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  margin: 0;
  align-items: center;
}

.login-input {
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.button-login{
  padding: 20px 0;
  color: #4D4D4D;
  border: 1px solid #f1dcdc;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #f1dcdc;
  font-weight: bold;
}

.button-login:disabled {
  background-color: #ccc;
  color: #fff;
  font-weight: 200;
  cursor: not-allowed;
}

.error-message-login {
  color: red;
  margin-top: 10px;
  width: 100%;
}

.toggle-password-button {
  background: none;
  border: none;
  margin-bottom: 10px;
  color: #4D4D4D;
  cursor: pointer;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 24px;
  color: #4D4D4D;
}
