.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.left-section-header {
  display: flex;
  flex-direction: column;
}

.logo-header {
  color: #FAFAFA;
  font-size: 32px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-header-img {
  margin-top: 5px;
  width: 50%;
}

.subtitle-header {
  color: #ABADB3;
  font-size: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

.right-section-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-header {
  width: 30px;
  height: 30px;
}

/* Adicionado para tornar o componente responsivo */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .left-section-header {
    margin-bottom: 10px;
  }

  .logo-header {
    font-size: 24px;
  }

  .logo-header-img {
    width: 40%;
  }

  .subtitle-header {
    font-size: 10px;
  }
}
