.post-manager-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.button-back {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: var(--color-2);
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: '600';
}


.header-text-editor {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-between;
}

.title-subtitle-text-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 5px;
}

.label-title-text-editor,
.label-description-text-editor {
  font-weight: bold;
  margin-bottom: 5px;
}

.title-text-editor,
.description-text-editor {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.image-text-editor {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-image-upload-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-image-text-editor {
  display: none;
}

.up-upload-label-blog {
  background-color: none;
  border-bottom: 1px solid var(--color-3);
  border-top: 1px solid var(--color-3);
  color: var(--color-1);
  padding: 5px 10px;
  font-size: 22px;
  cursor: pointer;
  font-weight: '600';
  text-align: center;
}

.remove-image-button {
  padding: 5px 10px;
  background-color: var(--color-3);
  color: var(--color-5);
  border: none;
  cursor: pointer;
}

.react-quill-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 400px;
}

.image-preview-blog-editor {
  width: 100%;
  height: auto;
  max-height: 300px;
  margin-bottom: 10px;
  object-fit: contain;
}

.ql-editor {
  padding: 10px;
  font-size: 16px;
  min-height: 400px;
}

.ql-blanl {
  color: #ccc;
}

.ql-blank::before {
  font-size: 16px;
  color: #ccc;
}

.button-save-text-editor {
  padding: 10px 20px;
  background-color: var(--color-3);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saved-post-container {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 20px;
}

.saved-post-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.saved-post-container p {
  font-size: 16px;
  margin-bottom: 10px;
}

.saved-post-image {
  max-width: 100%;
  max-height: 500px;
  align-self: center;
  height: auto;
  margin-bottom: 10px;
}

.saved-post-container-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: var(--color-2);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: '600'ack;
}

.button-edit-text-editor {
  margin-right: 10px;
  color: var(--color-1);
}

.button-publish-text-editor {
  background-color: var(--color-3);
}

.button-new-post-editing {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--color-3);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .post-manager-container {
    padding: 10px;
  }

  .title-text-editor,
  .description-text-editor {
    font-size: 14px;
  }

  .saved-post-container {
    padding: 10px;
  }

  .saved-post-container h2 {
    font-size: 20px;
  }

  .saved-post-container p {
    font-size: 14px;
  }

  .saved-post-container button {
    font-size: 14px;
  }
}
