.container-chat  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-start;
  width: 100%;
}

.div-post-theme-suggestion {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-post-suggestion {
  width: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .container-chat {
    flex-direction: column;
    align-items: center;
  }
  
  .div-post-theme-suggestion {
    width: 100%;
    margin-bottom: 10px;
  }

  .div-post-suggestion {
    width: 100%;
  }
}
  
