.banner {
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
}

.mini-title-banner {
  font-size: 18px;
  color: #888888;
}

.main-title-banner{
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
}